.header {
  height: 250px;
  width: 100%;
  background-image: url('../../Photo/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inner-header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.header h1 {
  text-align: center;
  line-height: 250px;
  font-size: 3.5rem;
  color: #fff;
  letter-spacing: 5px;
}
.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  background-color: #dfdfdf;
  padding: 50px 80px;
}

@media all and (max-width: 600px) {
  .body {
    grid-template-columns: 1fr;
    padding: 30px 50px;
  }
}
